
<div class="container mt-5">
{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>