{% extends 'base.html.twig' %}

{% block title %}New Tache{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Créer une nouvelle tache</h1>

    {{ include('tache/_form.html.twig') }}

    <a href="{{ path('app_tache_index') }}">back to list</a>
    </div>
{% endblock %}
